image:
  repository: ghcr.io/plexguide/huntarr
  tag: "8.2.10"
  pullPolicy: IfNotPresent

service:
  main:
    ports:
      main:
        port: 9705

persistence:
  config:
    enabled: true
    mountPath: /config
    readOnly: false